.control-panel {
    display: flex;
    width: 100%;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    .left, .right { flex: 1 0 auto; text-align: center; }
    .middle { flex: 0 0 auto; }

    button {
        padding: 8px 10px 5px 10px;
        margin: 0 5px;
        cursor: pointer;
        border-width: 0;
        border-radius: 8%;
        line-height: 22px;

        .control-icon {
            height: 22px !important; // :-(
            width: 22px !important;
        }
    }
}

::ng-deep {
    .tempo-slider {
        .tempo-label { color: #666; padding-right: 20px; }
        ngx-slider {
            max-width: 160px;
            .ngx-slider-pointer {
                width: 20px;
                height: 20px;
                top: -8px;
                border-radius: 10px;
                background-color: #444;

                &:after {
                    width: 6px;
                    height: 6px;
                    top: 7px;
                    left: 7px;
                }
                &.ngx-slider-active {
                  &:after {
                    background-color: #fff!important;
                  }
                }
            }
            .ngx-slider-bubble {
                color: #666;
                font-size: 14px;
            }
        }
    }
}

:host-context(.small-width) {
    button {
        padding: 5px 7px 2px 7px;
        line-height: 16px;

        .control-icon {
            height: 16px !important; // :-(
            width: 16px !important;
        }
    }
}
