<div [ngClass]="['fret', fretNumber === 0 ? 'zero' : '']">
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="1"
    stringLook="sizeOne silver">
  </app-fret-string>
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="2"
    stringLook="sizeOne silver">
  </app-fret-string>
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="3"
    stringLook="sizeOne copper">
  </app-fret-string>
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="4"
    stringLook="sizeTwo copper">
  </app-fret-string>
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="5"
    stringLook="sizeTwo copper">
  </app-fret-string>
  <app-fret-string
    [fretNumber]="fretNumber"
    stringNumber="6"
    stringLook="sizeThree copper">
  </app-fret-string>

  <div *ngIf="shouldDisplayDot()" class="fretboard-dot"><div></div></div>
  <div *ngIf="shouldDisplayDoubleDot()" class="fretboard-dot twelfth"><div></div><div></div></div>
</div>

<div *ngIf="shouldDisplayDot()" class="side-dot"><div></div></div>
<div *ngIf="shouldDisplayDoubleDot()" class="side-dot"><div></div><div></div></div>
